<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/addbook.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/CSS/ALL.CSS">
    <script src="/addbook.js" defer></script>
    <!-- <script src="/editbook.js" defer></script> -->
</head>
<body>
    <div class="container">
       <form action="/uploadbook" method="POST" enctype="multipart/form-data">
        <div class="picArea">
            <i class="fas fa-image"></i>
            <img src="/images/g" class="book-cover" alt="">
            <label title="Add Book Cover" for="picinput"><input type="file" required id="picinput" name="cover" class="picInput"><i class="fas fa-plus"></i></label>
        </div>
        <div class="details">
            <h1>Add Book</h1>
            <input type="text" placeholder="Book Title" name="title" class="title" required>
            <input type="text" placeholder="Book Author" name="author" class="author" required>
            <!-- <p class="destext">Description</p> -->
            <textarea name="description" id="" cols="30" rows="10" class="description" required placeholder="Book Description"></textarea>
            <div class="categories">
                <div class="selects">
                    <select name="categories" id="" class="select" required>
                        <option value="Motivational">Motivational</option>
                        <option value="Real Life">Real Life</option>
                        <option value="Children">Children</option>
                        <option value="Academics">Academics</option>
                        <option value="Romance">Romance</option>
                        <option value="Sci-fi">Sci-fi</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Action">Action</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <button class="addBtn" title="Add Category" type="button"><i class="fa fa-plus"></i></button>
            </div>
            <div class="buttons">
                <button type="button" title="Attach Book File"><label  class="addFile" for="bookInput"><i class="fas fa-link"></i>Book File <input type="file" required name="book" required id="bookInput"></label></button>
                <button type="submit" title="Upload Book"><i class="fas fa-plus"></i>Add Book</button>
            </div>
        </div>
       </form>
    </div>
</body>
</html>