<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Library| Admin Center</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/CSS/ALL.CSS">
</head>
<body>
    <div class="container">
        <h1 class="admintitle">Admin Center</h1>
        <div class="controls">
            <span><a href="/admin/addbook">Add Book</a></span>
            <span><a href="/admin/allbooks">All Books</a></span>
            <span><a href="/admin/allusers">All Users</a></span>
        </div>
    </div>
</body>
</html>