<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Access Blocked</title>
    <link rel="stylesheet" href="/admin.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/CSS/ALL.CSS">
</head>
<body>
    <div class="container">
        <i class="fas fa-exclamation-triangle"></i>
        <h1>Sorry you do not have access to this page</h1>
        <p>Please login with an admin account and try again</p>
        <a href="/">Back To Home</a>
    </div>
</body>
</html>