*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh;
    background: #fff;
}

.book-cover{
    width: 100%;
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}


.part{
    margin: 0px 20px;
    width: 400px;
    height: 500px;
}

.categories{
    width: 98%;
    height: 30px;
    /* background: red; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.categories span{
    width: 100px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    margin: 0px 5px;
}

.book-details{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e3e3e3;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    background: transparent;
    border: none;
    outline: none;
    cursor: default;
}

.title{
    width: 95%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: #373737;
    text-transform: capitalize;
}

.author{
    width: 50%;
    height: 30px;
    position: relative;
    top: -10px;
    font-size: 20px;
    font-weight: bolder;
    color: #7a7a7a;
    text-align: center;
    text-transform: capitalize;
}

.description{
    width: 95%;
    padding: 10px;
    height: 230px;
    border-radius: 5px;
    overflow-x: hidden;
    color: #373737;
    background: #fff;
}

.destext{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.buttons{
    margin-top: 20px;
    display: flex;
}

.buttons a{
    color: inherit;
    text-decoration: none;
}

button i{
    margin-right: 2px;
}

.fa-times{
    color: red;
}


.buttons .buttoncase{
    position: relative;
    width: 150px;
    height: 30px;
    margin: 0px 10px;
}

button{
    width: 150px;
    margin-left: 5px;
    height: 30px;
    border: none;
    /* margin: 0px 10px; */
    border-radius: 5px;
    background: #fff;
}

.buttoncase button{
    position: absolute;
    top: 0;
    left: 0;
}

.buttoncase button:nth-child(2){
    font-size: 12px;
}


button:hover{
    background: #00af66;
    cursor: pointer;
    color: #fff;
}

.buttoncase button:nth-child(2):hover{
    background: red;
}

.buttoncase button:nth-child(2):hover .fa-times{
    color: #fff;
}

.added{
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15),
    0 3px 6px rgba(0, 0, 0, 0.15);
    height: 35px;
    background: rgb(232, 232, 232);
    top: 10px;
    opacity: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
}

.added.show{
    top: 20px;
    opacity: initial;
}